DJANGO_ENV=local

DB_HOST=db
DB_NAME=devdb
DB_USER=devuser
DB_PASS=changeme
DB_PORT=5432

DJANGO_SUPERUSER_EMAIL=admin@zampo.com
DJANGO_SUPERUSER_PASSWORD=password
DJANGO_SUPERUSER_USERNAME=admin@zampo.com

CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0