DJANGO_ENV=production

DB_HOST=    the actual db host / if in localhost it should be 172.17.0.1
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=

DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_USERNAME=

CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=